<!DOCTYPE html>
<html lang="en">

<style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
}
.logo{
    margin-left: 35%;
    margin-top: 2%;
    height: 100px;
    width: 200px;
    border: 10px solid white;
    border-radius: 5%;
    
}
.navlist{
    display: flex;
    align-items: center;
    width:auto;
    text-align: right;
    padding-left: 30%;

}
.navlist li{
    list-style: none;
    margin-top: 30px;
    width: 50%;
    margin-left: 100px;
    transition: all 0.3s ease-in-out;
}
.navlist li a{

    text-decoration: none;
    color:rgb(77, 30, 3);
    text-decoration: solid;
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
}
.navlist li a:hover{

    text-decoration: none;
    color:rgba(77, 30, 3, 0.85);
    padding-left: 5px; 
    
}



.background{
    background: rgba(0, 0, 0, 0.7) url('bg.jpeg');
    background-size: 101%;
    
}
.firstsection
{
    height: 100vh;
    
}
.button {
    color:white;
     margin-top: 3%; 
     margin-left:23%;
     padding: 1% 2% 1% 2%;
     font-size: 16px; 
     border:white solid 2px;
    background:rgb(184, 124, 69);
    text-decoration: none;
    
}
.firstsection :hover{
    background: none;
    border-color:rgb(184, 124, 69);
    color:rgb(105, 59, 21);
}
.paras{
    width: 56%;
}

.secright{
    height: 120vh;
    display: flex;
    margin: 4% 0% 0% 5%;

}
.sectiontag{
    font-size: 50px;
    max-width: 69%;
}
.sectionSubtag{
    font-size: 33px;
    font-family: system-ui;
}
.back{
    
  
    width: 100%;
    background-size: cover;
    height: 100vh;
    background-blend-mode: soft-light;
}

.thirdsection{
    background: rgba(11, 80, 14,5.5) url('banners.jpeg');
    height: 50vh;
    background-blend-mode: color-dodge;
    display: flex;
    
    
}
.boarding{
    font-size: 50px;
    color: white;
    width: 80%;
    justify-content: right;
    align-items: right;
    padding-left: 7%;
    padding-top: 8%;
    text-align: right;


}
.big{
    font-size: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 50px;
    padding-bottom: 8px;
}

.small{
    font-size: 20px;
    color:white;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1px 30px;
    padding-bottom: 20%;

}
.thirdsection button{
font-size: large;
text-align: right;
padding:3%;
color: white;
border-color: white;
justify-content: right;
align-items: right;
background: none;
margin:3%;
}

.fourthsection{ 
    
    padding-top: 5%;
    height: 120vh;
}
.products{
    padding-left: 5%;
}
.separate{
    display: flex;
    margin-left: 11%;
   
}
.products img{
    height: 380px;
    
    margin-top: 5%;
}
.contactus{
    display: flex;
    height: 80vh;
    color: rgb(239 234 232);
    text-align: left;
    justify-content:left;
    padding: 6% 5%;
    background:rgb(85, 36, 8) url('2banners.jpeg');
    background-blend-mode: multiply;

    
}
.products  :hover{
    color: green;
    cursor: pointer;
}
.contactus input{
    margin-top: 10px;
    text-align: left;
}
.fifthsec{
    max-height: 100vh;
    padding-top: 5%;
    height: 100vh;
    
}
.fifthsec h1{
    font-size :50px;
    color: #332507;
    padding-left: 5%;
}
.message{
    height: 20vh;
    background-color: rgb(187 206 209);
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 3% 0% 0% 5%;
    font-family: 'Lato', sans-serif;
    display: flex;
    color: #332507;
}
.message button{

    margin: -1% 2% 3% 5%;
    font-size: 25px;
    background-color: rgb(187 206 209) ;
    color: #332507;
    border-color:  #332507;
}
.message button:hover{
    color: white;
    border-color:white;
    ;
}
.down{
    background-color: #59564d;;
    height: 60vh;
    display: flex;
    align-items: right;
    margin-top: 30px;
    padding-top: 30px;
}

.down li{
    list-style: none;
    margin-top: 30px;
    width: 60%;
   
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.container{
    max-width: 1800px;
    margin: auto;
}
.footer-col{
    width: 33%;
    padding: 26px 31px;
}

.footer-col h4{
    font-size: 20px;
    color: white;
    text-transform:capitalize;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.footer-col ul li :not(:last-child){
    margin-bottom: 20px;
}

.footer-col ul li a{
    font-size: 18px;
    
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
   
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.copyright{
    height: 7vh;
    background-color: rgb(187 206 209);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #332507;
    padding-top: 1%;
    font-weight: 400;
    font-family:  'Lato', sans-serif;
}
.initial-contact{
    background:  url('abt1.jpg');
    height: 70vh;
    background-blend-mode: darken;
    
}
.initial-contact img{
    margin-left: 5%;
}
.initial-contact h1{
    font-size: 70px;
    color:white;
    font-weight: 600;
    font-family: 'Lato',sans-serif;
    margin: 5% 0% 0% 5%;
}

.initial-contact p{
    text-align: right;
    color: #ffffff;
    margin-top: 1%;
    font-size: 25px;
    
    font-family: 'Lato',sans-serif;
    margin-right: 10%;
    
}
.navlist-about{
    display: flex;
    align-items: center;
    width:auto;
    padding-left: 25%;
   
   
}
.navlist-about li{
    list-style: none;
    margin-top: -149px;
    width: 15%;
    transition: all 0.3s ease-in-out;
    
}
.navlist-about li a{

    text-decoration: none;
    color:white;
    text-decoration: solid;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    
    
}
.navlist-about li a:hover{

    text-decoration: none;
    color:rgba(255, 255, 255, 0.762);
    padding-left: 5px; 
    
}
.history h2{
    font-size: 42px;
    color: #000000;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 15%;
    background: none;
    font-family: 'Lato', sans-serif;

}
.history p{
    width: 35%;
    margin-left: 15%;
 font-size: 20px;
 font-family: system-ui;
text-align: justify;
padding-top: 3%;
color:#000000b5;
            
}
.history img{
    height: 55%;
    width: 30%;
    align-items: right;
    margin-left: 5%;
    margin-top: -5%;
}
.border{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35%;
    margin: 5% 0% 1% 10%;
    border: 1px dotted #0000007c;
    padding: 5% 5% 3% 5%;
}
.elentara{
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Lato'sans-serif;
    font-weight: 500;
    font-size: 25px;
    
}
.elentara img{
    width: 90%;
    cursor: pointer;
    margin-top: 2%;
}
.ultima{
    display: flex;
    width: 50%;

}
.map{

margin-left: 17%;



}

#navlist-about{


margin-left: 15%;


}
.options_nav:hover{

   
background-color: rgba(255, 255, 255, 0.075);
padding: 5%;
color: black;
border: 1px solid rgba(255, 255, 255, 0.326);
cursor: pointer;
margin-right: 5%;
width: 15%;
border-radius: 5px;

}


</style>




<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Contact</title>
</head>

<body>
    <section class="initial-contact">



         <nav >
            <div class="navigation-about">
                <a href="/"><img class="logo" src="logo.jpeg" alt="logo"></a>

            </div>
           <div id="navlist-about">
            <ul class="navlist-about">
                <li ><a class="options_nav" href="/">Home</a></li>
                <li ><a class="options_nav" href="/about">About</a></li>
                <li ><a class="options_nav" href="/products">Products</a></li>
                

                <li  ><a class="options_nav" href="/contact">Contact</a></li>

            </ul>
            </div>
    
        </nav>

        <h1>Contact Us</h1>
        <p><a style="color: white;text-decoration:none" href="/">Home</a>&nbsp/&nbsp<a style="color: white;text-decoration:none"
                href="/contact">Contact</a></p>

    </section>
    <section>
        <p style="font-size: 18px;margin-top: 3%;font-family:system-ui;color:#000000;text-align: center;">
            If you have any queries or would like to know more information on
            any of our products, get in touch with our team and we’d be happy to help!
        </p>
    </section>
    <section style="display: flex;">
         <div class="border"><a style="text-decoration: none;color: black;" href="https://www.google.com/maps/dir/13.1137536,77.6208384/UTTAM+TRADING+CO/@13.0724386,77.5776734,13z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bae178a78182999:0x645ff53d184f24bd!2m2!1d77.6101183!2d13.0278342?hl=en-GB">
            <i style="font-size: 50px;
           margin-top: -12%;
           margin-bottom: 10%; color: rgba(255, 0, 0, 0.609);" class="fa-solid fa-location-dot"></i>

            <h3 style="font-size: 30px;font-weight: 538;font-family: 'Lato', sans-serif;">
                Our Address
            </h3>
            <p style="margin-top: 3%;font-family:'Lato', sans-serif;color: #000000a3;">
                # 54 ,3rd Main road,<br>Sri Raghavendra layout, L.R.Bande,Kavalbyrasandra, R.T.Nagar,<br>Bangalore -
                560032
            </p></a>
        </div>
      <div class="border">
            <i style="font-size: 50px;
        margin-top: -12%;
        margin-bottom: 10%;color: rgba(255, 0, 0, 0.609);" class="fa-thin fa-at"></i>
            <h3 style="font-size: 30px;font-weight: 538;font-family: 'Lato', sans-serif;">
               Email & Phone
            </h3>
            <p style="margin-top: 3%;font-family:'Lato', sans-serif;color: #000000a3;">
               E-mail: uttamtradingcoblr@gmail.com <br>

            </p>
        </div> 
    </section>
    <section style="display: flex;">
        <div style="width: 50%;">
            <h2  style="font-family: 'Lato', sans-serif;line-height: 1.6em;
           color: #212121;font-size: 42px;font-weight: 700;margin-left: 130px;margin-top: 5%;">Location Map

            </h2>
            <div class="map">

                <a href="https://www.google.com/maps/dir/13.1137536,77.6208384/UTTAM+TRADING+CO/@13.0724386,77.5776734,13z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bae178a78182999:0x645ff53d184f24bd!2m2!1d77.6101183!2d13.0278342?hl=en-GB"><img style="border:#000000 solid 1px; box-shadow: #00000089 5px 5px 5px 5px;;" src="map.png" alt="map" height="69%" width="69%"></a> 


            </div>
        </div>
         <form action="/sent" method="post">
        <div style="align-items: right;">
            <h2 style="font-family: 'Lato', sans-serif;line-height: 1.6em;
        color: #212121;font-size: 42px;text-align: left; font-weight: 700;margin-bottom:2%;margin-top: 5%;border-color: #00000048;">Contact Us
            </h2>
           
            <input style="padding: 20px 120px 12px 10px ;margin-right:2%;border-color: #00000048;" type="text" name="fullname" id="name" placeholder="Name*" required autocomplete="off">
            <input style="padding: 20px 125px 12px 10px;border-color: #00000048;" type="text" name="mobileNumber" id="pno"
                placeholder="Phone No*" required autocomplete="off">
            <br>
            <input style="padding: 20px 445px  15px 10px;margin-top: 2%;border-color: #00000048;" type="email" name="email" id="email" placeholder="Email*" required autocomplete="off">
            <br>
            <input style="padding: 20px 440px 100px 20px;margin-top: 2%;border-color: #00000048;" type="text" name="message" id="message" placeholder="Message" autocomplete="off">
            <input
                style="color:white; margin-top: 3%;padding:2% 5% 1% 5%;font-family: 'Lato',sans-serif; font-size: 16px; border:rgba(255, 0, 0, 0.609) solid;background:rgba(255, 0, 0, 0.774);" type="submit">
              
            </input>
        </div>
        </form>
    </section>
    <section class="down" style="background-color: #000000bb;">
        <div class="firstblock" style="width: 40%;">
            <img class="logo" src="logo.jpeg" alt="logo" style="margin-left:10%">
            <p
                style="max-width: 100%;font-size: large;font-family:'Lato', sans-serif;font-size:140%;color:white; padding:5% 0% 0% 10%;">
                Dolfy Doors has been a leading trading house for a wide array of Door and allied products ! With the experience of over 8 years of happy customers,
                we are uniquely placed to offer the widest range of products at the best of prices to our customers
            </p>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4 style="padding-left: 47px;">INFORMATION</h4>

                        <ul style="padding-left: 47px;">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/products">Products</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>

                    </div>
                    <div class="footer-col">
                        <h4>EXPLORE&nbspPRODUCTS&nbsp&nbsp;</h4>

                        <ul>
                            <li><a href="/elantra">Elentiara&nbspPremium&nbspGrove Door</a></li>
                           <li><a href="/ultima">Ultima&nbspVeneer&nbspDoor</a></li>
                            <li><a href="/pooja">Decora&nbspPooja&nbspDoor</a></li>
                            <li><a href="/solid">WPC Door</a></li>
                        </ul>

                    </div>
                    <div class="footer-col">
                        <h4>OUR ADDRESS</h4>

                        <ul>
                            <li><a href="#UTTAM TRADING COMPANY">Uttam trading company</a></li>
                            <li><a href="#E-mail: uttamtradingcoblr@gmail.com">E-mail: uttamtradingcoblr@gmail.com</a></li>
                            <li><a href="#Address- # 54 ,3rd Main road,Sri Raghavendra layout,">L.R.Bande,Kavalbyrasandra, R.T.Nagar </a></li>
                            <li><a href="#Bangalore">Bangalore&nbsp560032</a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </footer>

    </section>
    <section class="copyright">
        <p>&copy;2022 DOLFY DOORS.All Rights Reserved</p>

    </section>
</body>

</html>